<%#= error_messages_for(f.object) %>

<table summary="ToDo Item form fields">
  <tr>
    <th>Name</th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th>Description</th>
      <td><%= f.text_area(:description) %></td>
  </tr>
  
</table>
